1.	Explain the key features of Python that make it a popular choice for programming
Easy to Code: Python being easy to use, is widely used due to its easy syntax
Large number of libraries: More than 13700 libraries of python are there which are used in data analysis, machine learning, data visualization and other activities
Huge Community: Python has large number of users which makes it easy to find support if we are stuck
Frontend development: We can incorporate Python in HTML which can help to create interactive designs.
Backend Development: Python is extremely used in backend development. Many frameworks also are present which are used for development.
Data Analysis: Python is used the most in data analysis due to its fast speed and libraries present.
Image Processing: Python is extensively used in Machine Learning as well as Image Processing due to its very high speed and useful libraries like pandas, numpy.

2.	Describe the role of predefined keywords in Python and provide examples of how they are used in a program
Keywords are predefined words that cannot be defined again. Keywords can be identifiers, function name, loop names.
Keywords are case-sensitive.
Examples include import, for, return, True, False

In [1]:
import numpy #example1 for import keyword

In [4]:
a = 'Vaishnavi' #example2 for print keyword
print (a)

Vaishnavi

In [5]:
a = 'pwskills' #example3 gives for, in, print keyword
for i in a:
           print(i)

p
w
s
k
i
l
l
s

In [7]:
for i in range(10):  #example3 gives range, print keyword
 print(i, end=' ')

0 1 2 3 4 5 6 7 8 9

3.	Compare and contrast mutable and immutable objects in Python with example.
•	If the object is mutable, its values can be changed after creation of the object.
•	If the object is immutable, its values can’t be changed or altered once the object is created.
•	Examples of mutable object are :- List, Dictionaries.
•	Examples of immutable object are :- Set.

In [8]:
v = ["Paris", "London","Sweden", "Greece", "Japan"] # example of list(mutable object)
v

['Paris', 'London', 'Sweden', 'Greece', 'Japan']

In [9]:
v[2]

'Sweden'

In [11]:
v[2]='Switzerland'
v

['Paris', 'London', 'Switzerland', 'Greece', 'Japan']

In [12]:
s = {"Paris", "London","Sweden", "Greece", "Japan"} # example of list(immutable object)
s

{'Greece', 'Japan', 'London', 'Paris', 'Sweden'}

In [13]:
type(s)

set

In [17]:
set(1)='US'

SyntaxError: cannot assign to function call here. Maybe you meant '==' instead of '='? (691810120.py, line 1)

4. Discuss the different types of operators in Python and provide examples of how they are used.
i.	 Python Arithmetic Operator
ii.	 Python Comparison Operators 
iii. Python Logical Operators 
iv.  Python Bitwise Operators 
v.   Python Membership Operators 
vi.  Python Identity Operators 
vii. Python Assignment Operators 

Python arithmetic operators are used to carry out mathematical operations like addition, subtraction, division and multiplication. The available operators are +,-,*,/, %,**,//

In [18]:
# Example for Python arithmetic operators
a= 31 + 21
a

52

In [19]:
a= 13 ** 2
a

169

In [20]:
a = 19 - 3
a

16

Python Comparison Operators are used to compare two values and the result of comparison is a boolean value. The operators are ==, !=, <=, >=, >, <

In [27]:
a = 3
b = 31
print(a==b)

False

In [29]:
a = 3
b = 31
print(a<=b)

True

In [30]:
a = 3
b = 31
print(a!=b)

True

Python logical operators are used to compose Boolean expressions and evaluate their truth values. The available operators are AND, OR, NOT

In [33]:
age = 15

if(age > 12 and age < 18):
    print("Got to have a ticket")

Got to have a ticket

In [35]:
age = 15

if(age > 12 and age < 18):
    print("You are in your teens")

You are in your teens

Python Bitwise Operators are used to execute operations on single single bits of the integers.
The available one are AND (&), OR (|), NOT (), XOR (), left shift (), and right shift (>>)

In [40]:
print(3 & 2)

2

In [41]:
print(3 | 2)

3

In [42]:
print(3 ^ 2)

1

Python Membership Operators are used to check if the given value is present in some sequence or collection. Yhe two operators are IN, NOT IN

In [43]:
a = "pwskills"
for i in a:
    print(i)

p
w
s
k
i
l
l
s

In [44]:
for i in range(10):
    print (i)

0
1
2
3
4
5
6
7
8
9

Python Identity Operators are used to compare the values of memory addresses of the object rather than their values. The two operators are IS, IS NOT.

In [47]:
a = 3
b = a
print (a is b)

True

Python Assignment Operators are used to assign values to variables. The primary one is =

In [48]:
a= 3
a

3

5.	Explain the concept of type casting in Python with examples 
Type Casting is the process of converting a data type into another data type.

In [1]:
string1 ='1'

In [2]:
type(string1)

str

In [5]:
type(int(string1))

int

In [8]:
string = "3108"
new_str = int(string)
new_str

3108

In [7]:
type(new_str)

int

In [10]:
int1=1
new_str= str(int1)
new_str

'1'

In [11]:
type(new_str)

str

6. How do conditional statements work in Python? Illustrate with examples ?
Conditional Statements are used to decide the flow based on the condition. If the given condition is true then a certai block is executed and if condition is false then another block is executed.
Conditional statements include if, if-else.

In [14]:
a=10
if a < 20:
    print (a)

10

In [16]:
sent = 'I am a Billionaire'
search_word = 'Billionaire'
if search_word in sent:
    print('Present')
else:
    print('Not Present')

Present

7. Describe the different types of loops in Python and their use cases with examples.
Loops are used to run specific block again and aagain until it finds break statement.
The two type of loops are WHILE and FOR

In [17]:
n = 12
i = 1
while i < n:
    print(i)
    i = i+1

1
2
3
4
5
6
7
8
9
10
11

In [18]:
a = 'pwskills'
for i in a:
    print(i)

p
w
s
k
i
l
l
s

In [19]:
count = 5
while count >0:
    print(count)
    count = count -1

5
4
3
2
1